<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="shortcut icon" href="https://systemhalted.in/public/favicon.ico" />

    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/landing-page.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/6437b27d1f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36868278-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-36868278-2');
    </script>



</head>
